[submodule "exponentiated-weibull"]
    path = matlab/exponentiated-weibull
    url = https://github.com/ahaselsteiner/exponentiated-weibull.git
[submodule "compute-hdc"]
    path = matlab/compute-hdc
    url = https://github.com/ahaselsteiner/compute-hdc.git
